.board-group {
    @include ext-each(mb-3, p-1, rounded, text-light);

    // background: color.scale($primary); ???
    background: $board-primary;

    &__topbar {
        @include ext-each(w-100, p-1, d-flex, justify-content-between, user-select-none, pointer);

        position: relative;
    }

    &__name {
        @include ext-each(my-auto, p-0, bg-transparent, text-light, border-0, border-bottom, border-light);

        font-weight: bold;

        &:disabled {
            @include ext-each(border-0, pointer);

            pointer-events: none;
        }

        &::placeholder {
            color: $light;
            opacity: 0.5;
        }
    }

    &__delete-btn {
        @include ext-each(btn-blank);

        color: $light;
        transition: 0.2s;

        &.board-group__delete-btn--hide {
            opacity: 0;
        }

        &:hover {
            color: $accent;
        }
    }

    &__icons-container {
        @include ext-each(d-flex);
    }

    &__arrow {
        transition: 0.1s;

        &--hidden {
            transform: rotate(90deg);
        }
    }

    &__tiles-container {
        @include ext-each(d-flex, flex-wrap);
    }

    &__empty {
        @include ext-each(p-5, d-flex, justify-content-center, align-items-center);

        opacity: 0.5;
    }
}
