.board {
    @extend .py-4;

    &__add-group {
        transition: 0.1s;

        color: $secondary !important;
        border-color: $secondary !important;

        &:hover {
            background-color: $secondary !important;
            color: $light !important;
        }
    }
}
