.tile {
    @include ext-each(d-block, text-light, overflow-hidden, rounded, m-1, d-block);

    width: 10rem;
    height: 10rem;

    flex-shrink: 0;

    background-size: cover;
    cursor: default;

    &__mask {
        @include ext-each(w-100, h-100, d-flex, flex-column, justify-content-end, p-2, position-relative);

        background: linear-gradient(180deg, rgba(194, 194, 194, 0.6) 0%, rgba(0, 0, 5, 0.9) 80%);
        background-position: bottom;
    }

    &__btn-edit {
        @include ext-each(text-light, bg-transparent, border-0, position-absolute, top-0, end-0, mt-2, me-2);
    }

    &__title {
        @include ext-each(text-truncate, user-select-none, bg-transparent, text-light, border-0, p-0);

        font-size: 1.2rem;

        &::placeholder {
            color: $light;
            opacity: 0.5;
        }

        &:disabled {
            @include ext-each(bg-transparent, text-light, border-0);
        }
    }

    &__link {
        @include ext-each(text-truncate, user-select-none, mb-0, bg-transparent, border-0, p-0);

        font-size: 0.6em;
        color: $accent;
    }
}
