.user-info {
	&__toggle {
		@include ext-each(link-light);

		cursor: pointer;
	}

	&__photo {
		height: $header-element-size;
		border-radius: 50%;
	}

	&__dropdown {
		@include ext-each(user-select-none);
	}

	&__link {
		cursor: pointer !important;
	}
}
