@use "sass:math";
@use "sass:map";

$columns: 12;
// $column-base-width: math.div(100%, $columns);
$column-base-width: 100% / $columns;
$breakpoints: (
    "sm": 480px,
    "lg": 768px,
);

.row {
    display: flex;
    flex-wrap: wrap;

    [class*="col-"] {
        min-height: 1px;
    }

    @for $i from 1 through $columns {
        .col-xs-#{$i} {
            width: $column-base-width * $i;
        }
    }

    @each $name, $size in $breakpoints {
        @for $i from 1 through $columns {
            .col-#{$name}-#{$i} {
                @media (min-width: $size) {
                    width: $column-base-width * $i;
                }
            }
        }
    }
}
