.group {
    &__arrow {
        transition: 0.1s;

        &--hidden {
            transform: rotate(90deg);
        }
    }

    &__add {
        transition: 0.1s;

        &--hidden {
            opacity: 0;
        }
    }
}
