// @import "../../node_modules/mdb-react-ui-kit/dist/scss/bootstrap/variables";
// @import "../../node_modules/mdb-react-ui-kit/dist/scss/bootstrap/functions";

$primary: #303841;
$secondary: #00adb5;
$light: #eeeeee;
$accent: #ff5722;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "accent": $accent,
);

@import "../../node_modules/mdb-react-ui-kit/dist/scss/bootstrap/bootstrap";

html {
    overflow-y: scroll;
}

body {
    background-color: #eeeeee;
}

.header {
    background-color: $primary !important;
}

.group {
    background-color: $secondary !important;
}

// temporary
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}
//

.logo-link {
    text-decoration: underline;
}

.btn-blank {
    border: none;
    background: none;
}
