$primary: #303841;
$secondary: #00adb5;
$light: #eeeeee;
$accent: #ff5722;

html {
    overflow-y: scroll;
}

body {
    background-color: #eeeeee;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/// General classes

.logo-link {
    text-decoration: underline;
}

.pointer {
    cursor: pointer !important;
}

.accent {
    color: $accent;
}

.btn-blank {
    border: none;
    background: none;
}

.btn-edit:hover {
    color: #1266f1;
}

.btn-container {
    @include ext-each(d-flex);
}
