// @import "../../node_modules/mdb-react-ui-kit/dist/scss/bootstrap/variables";
// @import "../../node_modules/mdb-react-ui-kit/dist/scss/bootstrap/functions";

$primary: #303841;
$secondary: #00adb5;
$success: #00b74a;
$info: #39c0ed;
$warning: #ffa900;
$danger: #f93154;
$light: #fbfbfb;
$dark: #262626;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

@import "../../node_modules/mdb-react-ui-kit/dist/scss/bootstrap/bootstrap";

.header {
    background-color: $primary !important;
}

.group {
    background-color: $secondary !important;
}

// temporary
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}
//

.logo-link {
    text-decoration: underline;
}

.btn-blank {
    border: none;
    background: none;
}
